<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>All users</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <form action="create-user" method="POST">
                <h1 class="text-center">Create - View list users</h1>
                <input type="text" placeholder='email' name="email" class="col-8 ">
                <input type="text" placeholder='username' name='username' class="col-8 ">
                <input type="text" placeholder='password' name='password' class="col-8 ">
                <div class="col-12">
                    <button class="btn btn-primary">Add new user</button>
                </div>
            </form>
            <div class="col-12 mt-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">username</th>
                            <th scope="col">email</th>
                            <th scope="col">password</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% userList.forEach(function(item, index){ %>
                            <tr>
                                <th scope="row">
                                    <%= item.id %>
                                </th>
                                <td>
                                    <%= item.username %>
                                </td>
                                <td>
                                    <%= item.email %>
                                </td>
                                <td>
                                    <!-- <%= item.password %> -->
                                    ko hien thi vi qua dai
                                </td>
                                <td>
                                    <a href="/update-user/<%= item.id %>"><button
                                            class="btn btn-warning">Edit</button></a>
                                    <a href="/delete-user/<%= item.id %>"><button
                                            class="btn btn-danger">Delete</button></a>
                                </td>
                            </tr>
                            <% }) %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>